/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */
@font-face {
  font-family: 'HiMelody';
  src: url('../fonts/HiMelody-Regular.ttf') format('truetype');
}
a {
  color: #00B7FF;
}

body {
  background: rgb(72, 164, 121);
}

* {
  outline: 0;
}

.time {
  text-align: center;
  margin-bottom: 10px;
}
.time span {
  background-color: #000000;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  padding: 2px 20px;
  color: #fff;
  opacity: 0.3;
}
.message {
  margin-bottom: 10px;
  font-family: 'HiMelody';
}
.message .messageText {
  text-align: left;
  color: #FFFFFF;
}
.message.sol {
  text-align: left;
}
.message.sag {
  text-align: right;
}
.message .resim {
  background: #FF0044 none no-repeat center;
  vertical-align: text-top;
  background-size: cover;
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  height: 40px;
  width: 40px;
}
.message .messageText {
  background-color: #FF0044;
  vertical-align: text-top;
  display: inline-block;
  position: relative;
  line-height: 20px;
  max-width: 165px;
  color: #FFFFFF;
  padding: 10px;
}
.feel_lisa{
  text-align: left;
  color: #FFFFFF;
}
.message.left .userPortrait,
.message.sag .messageText {
  border-radius: 5px 0 0 5px;
}
.message.sag .userPortrait,
.message.sol .messageText {
  border-radius: 0 5px 5px 0;
}
.message.mtLine.sol .messageText {
  border-radius: 0 5px 5px 0;
}
.message.mtLine.sag .messageText {
  border-radius: 5px 0 0 5px;
}
.message .messageText:before {
  border-color: transparent #FF0044;
  border-style: solid;
  position: absolute;
  border-width: 0;
  display: block;
  content: "";
  z-index: 1;
}
.message.sol .messageText:before {
  border-width: 0 10px 10px 0;
  left: -10px;
  top: 0;
}
.message.sag .messageText:before {
  border-width: 10px 0 0 10px;
  right: -10px;
  top: 30px;
}
.message .messageText:after {
  content: attr(data-time);
  color: rgba(255,255,255,0.5);
  position: absolute;
  line-height: 20px;
  display: block;
  bottom: 2px;
  z-index: 1;
}
.message.sol .messageText:after {
  margin-left: 5px;
  left: 100%;
}
.message.sag .messageText:after {
  margin-right: 5px;
  right: 100%;
}

.inputBox{
  position: fixed;
  text-align: center;
  bottom: 0;
  margin-bottom: 5px;
  width: 100%;
}

.text-box{

  display: inline-block;
  
  width: 60%;
  height: 30px;
  border-color: #00B7FF;
}

.button-box{

  display: inline-block;
  width: 10%;
  height: 30px;
}

.ref{
  color: aliceblue;
}